<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit a Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <%-include('./partials/header.ejs')%>
    </head>
    <body>
        <div id="form-container">
        <h2>Edit Adventure Site</h2>
		<form action="/sites/<%= site._id%>?_method=PUT" method="POST">
			Name: <input type="text" name="name" value=<%=site.name%> placeholder="Name" required /><br />
			Island: <input type="text" name="island" value=<%=site.island%> placeholder="Island" required /><br />
            Category: <input type="text" name="category" value=<%=site.category%> placeholder="Category(Hike, Surf, Dive)" required /><br />
			Description: <input type="text" name="description" value=<%=site.description%> placeholder="Description" required /><br />
            Image: <input type="text" name="image" value=<%=site.image%> placeholder="Image URL" required /><br />
            Map: <input type="text" name="map" value=<%=site.map%> placeholder="Map Image URL" required /><br />
            Completed: <input type="checkbox" name="completed" /><br />
			<input type="submit" name="" value="Edit Site" />
		</form>
        </div>
        <script src="" async defer></script>
    </body>
</html>